#logo1{
    padding-top: 60px;
    width: 300px;
    display:block;
    margin:0 auto;
    
}
#search{
    text-align: center;
    background-color: white;
    border-radius: 20px;

}
#s1{
    font-size: 16px;
    padding: 5px;
    padding-top: 5px;
    margin-left: 15px;
    width: 400px;
    border: none;
    outline: none;
    
}
#b1{
    color: white;
    background-color: cornflowerblue;
    border-radius:0 20px 20px 0;
    border: 2px solid cornflowerblue;
    padding: 9px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    
    
    

}
#bt1{
    background-color: cornflowerblue;
    font-size: 20px;
    border: none;
    color: white;
    margin-bottom: 20px;

}
#s2{
    border-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 20px 0 0 20px;
    border-right: none;
    width: 500px;
    font-size: 35px;
    padding-bottom: 4px;

}
#btn1{
    position: fixed;
    background-color: white;
    border: none;
    color: black;
    width: 150px;
    right:0;
    top: 0;
    

}
#pic{
    width: 35px;
}